<!-- home.html -->
{% extends 'base.html' %}
{% block content %}
    {{block.super}}
    <link rel="stylesheet" href="../../static/css/home.css">
    <meta charset="UTF-8">
    <title>Home</title>
<body>
<blockquote>
    One day you will left the world behind, so live a life you will remember.
  <span>Avicii</span>
</blockquote>
    <a href="{% url 'index' %}" class="btn btn-primary">click</a>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+</button>

<!-- home.html -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Status</th>
            <th>Task Name</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.get_status_display }}</td>
            <td>{{ task.task_name }}</td>
            <td>{{ task.due_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}